.blog__card{
  width: 100%;
  cursor: pointer;
  border-radius: 25px;
  background: #1E293B;
  backdrop-filter: blur(5px);
  transition: 0.3s;
  margin-top: 20px;

  &:hover, &:focus{
    transform: translate(0, -20px);

    .effect{
      transition: 0.5s ease-in;
      background-color: $green;
      border: 1px solid $green;
      color: $white;
    }
  }

  &__image{
    border-radius: 24px;
    width: 100%;
    height: 320px;
    object-fit: cover;

    @include media-breakpoint-up(md) {
      height: 400px;
    }
  }

  &__heading{
    color: $white;
    font-weight: $font-weight-bold;
  }

  &__clock{
    color: $white;
    margin: 5px 10px 0 0;
  }

  &__author__section img{
    border-radius: 50%;
    margin-top: -10px;
    border: solid .5px $white;
    height: 50px;
  }

  &__author{
    margin: 0 0 5px 10px;
  }

  &__main{
    margin: 0 0 25px 25px;
  }

  &__reader__text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
  }
}