.btn__primary{
  background-color: $purple;
  padding: 10px 20px;
  border-radius: 30px;
  border-style: none;
  color: $white;
  cursor: pointer;
  min-width: 150px;

  @include media-breakpoint-up(md) {
    min-width: 170px;
  }

  &__arrow{
    background-color: $green;
    border-radius: 20px;
    padding: 5px;
    font-size: 18px;
    color: $white;
    rotate: -40deg;
    margin: 0 -13px 0 12px;
  }

  &:hover, &focus{
    background-color: $green;
    color: $white;
  }
}

.btn__secondary{
  background-color: $white;
  padding: 10px 20px;
  border-radius: 30px;
  border-style: none;
  color: $blue;
  cursor: pointer;
  min-width: 165px;

  @include media-breakpoint-up(md) {
    min-width: 185px;
  }

  &__download{
    background-color: $green;
    border-radius: 20px;
    padding: 5px;
    font-size: 18px;
    color: $white;
    margin: 0 -10px 0 12px;
  }

  &:hover, &focus{
    background-color: $green;
    color: $white;
  }
}
