.modal{
  margin: 20px 0 50px 0;
  background-color: transparent;
  border-radius: 25px;
}

.modal-body{
  background-color: transparent;
  border-radius: 25px;
}

.close{
  margin-bottom: -70px;
  background-color: transparent;

}

.btn-close{
  cursor: pointer;
  background-color: $white;
  cursor: pointer;
}