.masthead{

  &__top__heading{
    margin-top: 150px;
    font-weight: $font-weight-light;
    color:$white;
    font-size: 40px;

    @include media-breakpoint-up(md) {
      margin-top: 280px;
      font-size: 60px;
    }
  }

  &__main__heading{
    font-weight: $font-weight-light;
    color:$white;
    font-size: 55px;

    span{
      font-weight: $font-weight-bold;
      color: $green;
    }

    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
  }

  &__masthead__content{
    width: 90%;
    line-height: $line-height-base;

    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  &__btns{
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 58%;
    }
  }

  &__bg{
    width: 90%;

    @include media-breakpoint-up(md) {
      height: 80%;
      margin-top: 180px;
      margin-left: -300px;
    }
  }

  &__image{
    height: 80%;
    width: 100%;
    margin: 50px 0 0 20px;
    overflow-x: hidden;

    @include media-breakpoint-up(md) {
      height: 60%;
      margin: 230px 0 0 120px;
    }
  }
}