.masthead{

  &__top__heading{
    margin-top: 150px;
    font-weight: $font-weight-base;
    color:$white;
    font-size: 35px;

    @include media-breakpoint-up(md) {
      margin-top: 230px;
      font-size: 60px;
    }
  }

  &__main__heading{
    font-weight: $font-weight-base;
    color:$white;
    font-size: 55px;

    span{
      font-weight: $font-weight-semibold;
      color: $green;
    }

    @include media-breakpoint-up(md) {
      font-size: 60px;
    }
  }

  &__masthead__content{
    width: 90%;
    line-height: $line-height-base;

    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }

  &__btn + &__btn{
    margin-left: 5px;
  }

  &__btns__container{

    @include media-breakpoint-up(md) {
      margin-bottom: 150px;
    }
  }

  &__bg{
    width: 90%;

    @include media-breakpoint-up(md) {
      width: 80%;
      height: 50%;
    }

    @include media-breakpoint-up(lg) {
      width: 75%;
      height: 80%;
      margin-top: 90px;
      margin-left: -300px;
    }
  }

  &__image{
    height: 80%;
    width: 100%;
    margin: 50px 0 0 20px;
    overflow-x: hidden;

    @include media-breakpoint-up(md) {
      width: 85%;
      height: 100%;
      margin: -10px 0 0 80px;
    }

    @include media-breakpoint-up(lg) {
      height: 75%;
      margin: 200px 0 0 80px;
      width: 85%;
    }
  }
}