.text{

  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    margin-bottom: 150px;
  }

  &__heading{
    color: $white;
  }

  &__content{
    line-height: $line-height-base;

    @include media-breakpoint-up(md) {
      margin: 0 150px;
      line-height: $line-height-base;
    }
  }
}