body {
  background: #111827;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

a {
  font-weight: 400;
}

p {
  color: #CBD5E1;
}

.social__icon {
  color: #ffffff;
  font-size: 35px;
  transition: ease-in-out 0.5s;
}
.social__icon:hover, .social__iconfocus {
  color: #2DD4BF;
}

.text-block p:last-of-type {
  margin-bottom: 0;
}

.text-xs {
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.text-sm {
  font-size: 1rem;
  line-height: 1.375;
}

.fw-medium {
  font-weight: 500 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-inherit {
  color: inherit !important;
}

.bg-green {
  background-color: #111827 !important;
}

.to-animate {
  opacity: 0;
  transform: scale(0.6);
  transition: transform 0.4s ease, opacity 0.3s ease;
}
.to-animate.in {
  opacity: 1;
  transform: scale(1);
}

.block-white-bg {
  background-color: #ffffff;
}
.block-white-bg + .block-white-bg {
  padding-top: 0 !important;
}

.btn__primary {
  background-color: #6366F1;
  padding: 10px 20px;
  border-radius: 30px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}
.btn__primary__arrow {
  background-color: #2DD4BF;
  border-radius: 20px;
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  rotate: -40deg;
  margin: 0 -13px 0 12px;
}
.btn__primary:hover, .btn__primaryfocus {
  background-color: #2DD4BF;
  color: #ffffff;
}

.btn__secondary {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 30px;
  border-style: none;
  color: #111827;
  cursor: pointer;
}
.btn__secondary__download {
  background-color: #2DD4BF;
  border-radius: 20px;
  padding: 5px;
  font-size: 18px;
  color: #ffffff;
  margin: 0 -10px 0 12px;
}
.btn__secondary:hover, .btn__secondaryfocus {
  background-color: #2DD4BF;
  color: #ffffff;
}

.project__card {
  padding: 150px 0 0 50px;
  border-radius: 24px;
  background: #1E293B;
  backdrop-filter: blur(5px);
  margin: 50px 0;
}
.project__card__heading {
  color: #ffffff;
  margin-top: 35px;
}
.project__card__content {
  margin-right: 50px;
}
.project__card__image {
  width: 100%;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .project__card__image {
    width: 80%;
  }
}
.project__card__tech__container {
  width: 90%;
}
@media (min-width: 768px) {
  .project__card__tech__container {
    width: 70%;
  }
}
.project__card__tech {
  height: 28px;
  margin-bottom: 25px;
  transition: 0.3s;
}
.project__card__tech:hover, .project__card__tech:focus {
  transform: translate(0, -10px);
}

.header {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}
.header__logo {
  width: 150px;
}
.header__links__container {
  padding-top: 80px;
  height: 100vh;
  top: -830%;
}
@media (min-width: 992px) {
  .header__links__container {
    padding-top: 0;
    height: 100%;
    top: 0;
  }
}
.header__links {
  text-align: center;
}
@media (min-width: 992px) {
  .header__links {
    display: flex;
    justify-content: end;
  }
}
.header__links__contact {
  margin-top: 15px !important;
}
.header__links a {
  color: #ffffff;
  cursor: pointer;
  font-size: 40px;
}
@media (min-width: 768px) {
  .header__links a {
    font-size: 18px;
    margin-top: 50px;
  }
}
.header__links a:hover, .header__links afocus {
  color: #2DD4BF;
}
.header__link {
  margin-top: 26px !important;
}

.footer {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 50px 0 80px 0;
}
.footer__heading {
  color: #ffffff;
}
.footer__phone, .footer__mail {
  color: #ffffff;
  transition: ease-in-out 0.5s;
}
.footer__phone:hover, .footer__phonefocus, .footer__mail:hover, .footer__mailfocus {
  color: #2DD4BF;
}
.footer__icon {
  color: #ffffff;
  font-size: 1.25rem;
  padding: 10px;
  border-radius: 24px;
  background: #1E293B;
  backdrop-filter: blur(5px);
}
.footer__social {
  width: 30%;
}
.footer__link {
  color: #ffffff;
  transition: ease-in-out 0.5s;
}
.footer__link:hover, .footer__linkfocus {
  color: #2DD4BF;
}

.masthead__top__heading {
  margin-top: 50px;
  font-weight: 300;
  color: #ffffff;
  font-size: 60px;
}
@media (min-width: 768px) {
  .masthead__top__heading {
    margin-top: 170px;
  }
}
.masthead__main__heading {
  font-weight: 300;
  color: #ffffff;
  font-size: 65px;
}
.masthead__main__heading span {
  font-weight: 700;
  color: #2DD4BF;
}
.masthead__masthead__content {
  width: 90%;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .masthead__masthead__content {
    width: 50%;
  }
}
.masthead__btns {
  width: 100%;
}
@media (min-width: 768px) {
  .masthead__btns {
    width: 58%;
  }
}
.masthead__bg {
  width: 90%;
}
@media (min-width: 768px) {
  .masthead__bg {
    height: 70%;
    margin-left: -390px;
  }
}
.masthead__image {
  height: 80%;
  width: 100%;
  margin: 50px 0 0 20px;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .masthead__image {
    height: 60%;
    margin: 140px 0 0 120px;
  }
}

.tech__stack {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .tech__stack {
    margin-bottom: 150px;
  }
}
.tech__stack__heading {
  color: #ffffff;
}
.tech__stack__bubble {
  padding: 15px 40px;
  border-radius: 24px;
  background: #1E293B;
  backdrop-filter: blur(5px);
}
.tech__stack__image {
  transition: 0.3s;
}
.tech__stack__image:hover, .tech__stack__image:focus {
  transform: translate(0, -15px);
}

.about {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .about {
    margin-bottom: 150px;
  }
}
.about__heading {
  color: #ffffff;
}
.about__content {
  line-height: 1.5;
}
@media (min-width: 768px) {
  .about__content {
    margin: 0 150px;
  }
}

.project {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .project {
    margin-bottom: 150px;
  }
}
.project__heading {
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
