.contact {

  padding-top: 100px;

  @include media-breakpoint-up(md) {
    padding-top: 190px;
  }

  &__bg {

    background-size: 350px;
    background-position: 30% 50px;
    background-repeat: no-repeat;

    @include media-breakpoint-up(xl) {
      background-size: 650px;
    }
  }

  &__heading {
    color: $white;
  }

  &__information {
    margin-top: 100px;

    &__heading {
      color: $white;
    }
  }

  &__social__heading {
    color: $white;
  }

  &__social__icon + &__social__icon{
    margin-left: 15px;
  }
}



